[submodule "content/docs/r_inla"]
	path = content/docs/r_inla
	url = https://github.com/dim-papach/r_inla


[submodule "content/docs/thesis"]
	path = content/docs/thesis
	url = https://github.com/dim-papach/Research_paper_SFR
